/* General */
html {
  height: 100%;
}
html, body {
  font-family: 'Arial', sans-serif;
  font-size: 4.25vw;
  line-height: 1.35;
  letter-spacing: 0.02em;
  background-color: #EAEAEA;
  overflow-x: hidden;
}
body {
  min-height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
::-moz-selection {
  background: #222;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #222;
  color: #fff;
  text-shadow: none;
}
a, a:hover, a:link, a:active, a:visited {
  font-weight: normal;
  text-decoration: none;
  color: rgb(70, 70, 70);
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}
a:hover {
  color: rgb(150, 150, 150);
}
/* General iPad */
@media screen and (min-width: 768px) {
  html, body {
    font-size: 2.5vw;
  }
}
/* General Desktop */
@media screen and (min-width: 1024px) {
  html, body {
    font-size: 1.5vw;
  }
}
/* Menu */
header {
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  z-index: 9999;
  font-size: 1em;
}
header nav ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header nav ul.menu li.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-bottom: none;
  border-top: 1px solid #fff;
  padding: 0.125rem 0 0 0;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
header nav ul.menu li.menu-item:first-child {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
header nav ul.menu li.menu-item:nth-child(n+2) {
    -ms-flex-preferred-size: calc(50% - 1px);
        flex-basis: calc(50% - 1px);
        padding: 0.25em 0;
}
header nav ul.menu li.menu-item:nth-child(even) {
    border-right: 1px solid #fff;
}
.menu-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
}
header nav ul.menu li.menu-item svg {
  height: 2em;
  width: auto;
  margin: 0.125em 0.75em 0.125em 0.75em;
}

header nav ul.menu li.menu-item svg path {
  -webkit-transition: fill 400ms ease;
  transition: fill 400ms ease;
}
header nav ul.menu li.menu-item a:hover svg path {
  fill: #000;
}
header nav ul.menu li.menu-item:first-child {
  border-left: none;
}
header nav ul.menu li.menu-item:last-child {
  border-right: none;
}
header nav ul.menu li.menu-item a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
}
header nav ul.menu li.menu-item a:hover, header nav ul.menu li.is-active {
  color: #000;
}
header nav ul.menu li.is-active a {
  color: #000;
  cursor: default;
}
header nav ul.menu li.languages a.active {
  display: none
}
header nav ul.menu li.menu-item:hover, header nav ul.menu li.is-active {
  background-color: rgba(140, 140, 140, 1);
}
/* Menu iPad */
@media screen and (min-width: 768px) {
  header nav ul.menu {;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 0.6rem;
  }
  header nav ul.menu li.menu-item {
    border-left: 0.125vw solid #fff;
    border-right: 0.125vw solid #fff;
    border-bottom: none;
    border-top: none;
  }
  header nav ul.menu li.menu-item {
    -ms-flex-preferred-size: 0 !important;
        flex-basis: 0 !important;
        padding: 0 !important;
  }
}

/* General */
main {
  padding-top: 0;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  main {
    padding-top: 1.25rem;
  }
}

/* Homepage */
.publications {
  width: 100vw;
}
.publications .product {
  width: 100%;
  border-bottom: 2px solid #000;
  overflow: hidden;
  max-height: 99em;
  -webkit-transition: max-height 1s ease, background-color 400ms ease;
  transition: max-height 1s ease, background-color 400ms ease;
}
.publications .product .product-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 1rem 0;
}
.publications .closed {
  cursor: url('../arrows/arrow_down.svg'), s-resize !important;
  max-height: 7rem;
}
.publications .open .product-row {
  cursor: url('../arrows/arrow_up.svg'), n-resize;
}
.publications .product .product-row .product-cover {
  width: 30vw;
  text-align: center;
}
.publications .product .product-row .product-cover figure {
  margin: 0 auto;
  padding-bottom: 0;
  height: 5rem;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}
.publications .product .product-row .product-cover figure img {
  height: 100%;
  width: auto;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  -webkit-transition: -webkit-box-shadow 400ms ease;
  transition: -webkit-box-shadow 400ms ease;
  transition: box-shadow 400ms ease;
  transition: box-shadow 400ms ease, -webkit-box-shadow 400ms ease;
}
.publications .product .product-row .product-publication, .publications .product .product-row .product-info {
  height: 2.3rem;
  margin: auto 0;
}
.publications .product .product-row .product-publication {
  width: 70vw;
  padding: 0 1rem;
}
.publications .product .product-row .product-publication h3, .publications .product .product-row .product-publication h4 {
  margin: 0;
  font-weight: normal;
  font-size: 1em;
}
.publications .product .product-row .product-publication h4 {
  font-style: italic;
}
.publications .product .product-row .product-info {
  display: none;
}
.publications .product .product-row .product-info p {
  margin: 0;
}
.gallery-wrap {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.main-carousel {
  width: calc(100vw - 2rem);
  height: 100%;
  margin: 1rem;
}
.next {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 999;
  cursor: url('../arrows/arrow_right.svg'), e-resize;
}
.prev {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  cursor: url('../arrows/arrow_left.svg'), w-resize;
}
.carousel-cell {
  width: 100%;
  height: auto;
}
.carousel-cell figure {
  margin: 0;
}
.carousel-cell figure img {
  width: 100%;
  height: auto;
}
.product-text {
  max-width: calc(100vw - 2rem);
  margin: 0 1rem 1rem 1rem;
}
/* Hover effects only with mouse */
@media screen and (pointer: fine) {
  .publications .closed:hover {
    background-color: rgba(255, 255, 215, 1);
  }
  .publications .closed:hover .product-cover figure {
    -webkit-transform: rotate(-1.5deg) scale(1.1);
    transform: rotate(-1.5deg) scale(1.1);
  }
  .publications .closed:hover .product-cover figure img {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8) !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8) !important;
  }
}
/* Homepage touch devices */
@media (pointer: coarse) {
  .next, .prev {
    display: none;
  }
}
/* Homepage iPad */
@media screen and (min-width: 768px) {
  .publications .product {
    border-bottom: 0.25vw solid #000;
  }
  .publications .closed {
    max-height: 8rem;
  }
  .publications .product .product-row .product-publication {
    width: 40vw;
    padding: 0 1rem;
  }
  .publications .product .product-row .product-info {
    width: 40vw;
    padding: 0 1rem;
    display: block;
  }
  .publications .product .product-row .product-cover {
    width: 20vw;
  }
  .publications .product .product-row .product-cover figure {
    height: 6rem;
  }
}
/* Homepage Desktop */
@media screen and (min-width: 1024px) {
  .gallery-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .main-carousel {
    width: calc(60vw - 2rem);
  }
  .product-text {
    max-width: calc(40vw - 1rem);
  }
}

/* Default page */
.textarea {
  padding: 0 0 0 1rem;
  border-bottom: 2px solid #000;
}
@media screen and (min-width: 768px) {
  .textarea {
    border-bottom: 0.25vw solid #000;
  }
}
/* Columns plugin */
.columns {
  margin-right: 0;
}
.column {
  display: inline-block;
  vertical-align: top;
}
.columns-1 .column {
  width: 100%;
}
.columns-2 .column {
  width: calc(100% - 1rem);
  padding-right: 1rem;
}
.columns-3 .column {
  width: 33.33%;
}
.columns-4 .column {
  width: 25%;
}
.columns-5 .column {
  width: 20%;
}

@media screen and (min-width: 768px) {
  .columns {
    margin-right: 0;
  }
  .column {
    display: inline-block;
    vertical-align: top;
  }
  .columns-1 .column {
    width: 100%;
  }
  .columns-2 .column {
    width: calc(50% - 1rem);
    padding-right: 1rem;
  }
  .columns-3 .column {
    width: 33.33%;
  }
  .columns-4 .column {
    width: 25%;
  }
  .columns-5 .column {
    width: 20%;
  }
}


/* Authors */
.authors .textarea {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0;
  padding-right: 1rem;
}
.profile_pic {
  width: 20vw;
  min-height: 20vw;
  padding-right: 1rem;
  display: inline-block;
}
.profile_pic figure {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.profile_pic figure img {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
  -webkit-filter: grayscale(100%) contrast(150%);
  filter: grayscale(100%) contrast(150%);
}
.profile_description {
  width: calc(80vw - 2rem);
  vertical-align: top;
  display: inline-block;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: normal;
}


/* Footer */
footer {
  font-size: 0.5rem;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  left: 0;
  width: 100%;
  padding: 0;
  height: 1.5rem;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact {
  text-align: center;
  margin: auto;
}
footer a, footer a:link, footer a:visited {
  color: #fff;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
}
footer a:hover {
  color: rgb(140, 140, 140);
}


/* Helper classes */
.hidden {
  display: none !important;
  visibility: hidden;
}
